html {
  font-size: 14px; }

* {
  margin: auto;
  font-family: "Lato", sans-serif; }
  * a {
    color: #676767;
    text-decoration: none; }

.grid-container {
  width: 100%;
  max-width: 1170px; }

.grid-container * {
  box-sizing: border-box; }

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

[class*='col-'] {
  float: left;
  min-height: 1px; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 24.99%; }

.col-4 {
  width: 33.32%; }

.col-5 {
  width: 41.65%; }

.col-6 {
  width: 49.98%; }

.col-7 {
  width: 58.31%; }

.col-8 {
  width: 66.64%; }

.col-9 {
  width: 74.97%; }

.col-10 {
  width: 83.3%; }

.col-11 {
  width: 91.63%; }

.col-12 {
  width: 99.96%; }

header {
  color: white;
  background: url("../images/Bhagaskara_01.jpg") no-repeat;
  width: 100%;
  padding-bottom: 56.25%;
  background-size: contain;
  height: 0; }

.jumbotron {
  margin-bottom: 15%; }
  .jumbotron h1 {
    text-align: center;
    padding-top: 2%;
    margin-bottom: 3%;
    font-size: 4rem; }
  .jumbotron h1 span {
    font-size: 4rem;
    color: #9f449b; }
  .jumbotron h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1%; }
  .jumbotron p {
    text-align: center;
    font-size: 1rem; }

nav .pictureSize {
  margin: 5% 0;
  width: 75%; }
nav .pictureUpMenu {
  margin-top: -15%; }
nav .headerMenuDiv {
  background-size: 75% auto;
  background-image: url("../images/icon-base.png");
  background-repeat: no-repeat; }

.scroller {
  padding-left: 42%;
  margin-top: -3%; }

.mainMenu-container {
  color: #676782; }
  .mainMenu-container span {
    color: #9f449b; }
  .mainMenu-container .logoMenu {
    font-size: 2rem;
    margin-top: 3%; }
  .mainMenu-container .mainMenu {
    font-size: 1.5rem;
    margin-top: 3%;
    padding: 0; }
  .mainMenu-container .mainMenu:hover {
    color: #A957A5; }
  .mainMenu-container a:hover {
    color: #A957A5; }

.featureBackground {
  background-color: #eeeeee;
  width: 100%;
  margin-top: 2%; }
  .featureBackground .feature {
    color: #676782;
    padding-bottom: 7%; }
    .featureBackground .feature #heart {
      margin-top: 10%;
      margin-bottom: 5%;
      background-size: 48%;
      width: 59%;
      background-image: url("../images/aboutus/heatrIcon.png");
      background-repeat: no-repeat;
      padding: 56% 50% 10% 50%;
      background-position: center; }
      .featureBackground .feature #heart:hover {
        background-image: url("../images/aboutus/heatrIconViolet.png");
        background-repeat: no-repeat; }
    .featureBackground .feature #diamond {
      margin-top: 10%;
      margin-bottom: 5%;
      background-size: 48%;
      width: 59%;
      background-image: url("../images/aboutus/diamondIcon_13.png");
      background-repeat: no-repeat;
      padding: 56% 50% 10% 50%;
      background-position: center; }
      .featureBackground .feature #diamond:hover {
        background-image: url("../images/aboutus/heatrIconViolet.png");
        background-repeat: no-repeat; }
    .featureBackground .feature #teaCup {
      margin-top: 10%;
      margin-bottom: 5%;
      background-size: 48%;
      width: 59%;
      background-image: url("../images/aboutus/teaIcon_16.png");
      background-repeat: no-repeat;
      padding: 56% 50% 10% 50%;
      background-position: center; }
      .featureBackground .feature #teaCup:hover {
        background-image: url("../images/aboutus/heatrIconViolet.png");
        background-repeat: no-repeat; }
    .featureBackground .feature #smartphone {
      margin-top: 10%;
      margin-bottom: 5%;
      background-size: 48%;
      width: 59%;
      background-image: url("../images/aboutus/phoneIcon_18.png");
      background-repeat: no-repeat;
      padding: 56% 50% 10% 50%;
      background-position: center; }
      .featureBackground .feature #smartphone:hover {
        background-image: url("../images/aboutus/heatrIconViolet.png");
        background-repeat: no-repeat; }
    .featureBackground .feature h2 {
      text-align: center;
      margin-bottom: 15%; }
    .featureBackground .feature p {
      font-size: 1.5rem;
      margin-right: 10%; }

.aboutUs .aboutUsHead {
  text-align: center;
  padding: 5% 0 5% 0; }
  .aboutUs .aboutUsHead p {
    font-size: 4rem; }
.aboutUs .mockUp img {
  width: 100%; }
.aboutUs .abboutUsText {
  text-align: center;
  line-height: 2.0; }
  .aboutUs .abboutUsText p {
    padding-bottom: 25%; }
.aboutUs .buttonAboutUs {
  float: left; }
.aboutUs .PurpleLearn {
  border: 20px solid #9f449b;
  box-shadow: 0 1px 1px #888888;
  background: #9f449b;
  color: white;
  vertical-align: bottom; }

.quoteWidth {
  background-image: url("../images/quoteBackground_32.png");
  background-repeat: no-repeat;
  padding-bottom: 41%;
  background-size: contain;
  height: 0;
  margin-top: 5%; }
  .quoteWidth .iconQuote {
    margin: 5% 0 5% 0;
    background-image: url("../images/icon-base.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain; }
  .quoteWidth img {
    display: block;
    margin: auto;
    width: 13%; }
  .quoteWidth .textQuote {
    text-align: center;
    font-size: 2rem;
    color: white; }

.ourTeam {
  margin-top: -5%; }
  .ourTeam .ourTeamLogo {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 8%; }
  .ourTeam .arrowLeft {
    padding-left: 45%; }
  .ourTeam .teamMember {
    margin-top: 5%; }
  .ourTeam .profilPicture {
    margin-top: 14%;
    margin-left: 20%;
    background-image: url("../images/ourteam/pictureProfil_03.gif");
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 65%;
    height: 0; }
  .ourTeam .teamInfo {
    margin-top: 10%; }
    .ourTeam .teamInfo .googleLink {
      padding-left: 5%; }
    .ourTeam .teamInfo h1 {
      text-align: center; }
    .ourTeam .teamInfo p {
      padding-top: 3%;
      text-align: center; }

.ourSkills .ourSkillsLogo {
  margin-top: 10%;
  text-align: center;
  font-size: 4rem; }
.ourSkills .webMarg {
  margin-top: 5%; }
  .ourSkills .webMarg .bell-container {
    width: 85%; }
    .ourSkills .webMarg .bell-container .exp {
      float: right; }
    .ourSkills .webMarg .bell-container .bell-background {
      clear: both;
      width: 100%;
      background-color: #f0f0f0;
      height: 20px;
      margin-top: 5%; }
      .ourSkills .webMarg .bell-container .bell-background .bell-purple {
        background-color: #9f449b;
        display: inline-block;
        height: 20px;
        width: 90%; }
      .ourSkills .webMarg .bell-container .bell-background .uiUxProc {
        width: 85%; }
      .ourSkills .webMarg .bell-container .bell-background .purpleHtml {
        width: 75%; }
      .ourSkills .webMarg .bell-container .bell-background .purpleGraphic {
        width: 70%; }

.servicesWidth {
  background-image: url("../images/quoteBackground_32.png");
  background-repeat: no-repeat;
  padding-bottom: 45%;
  background-size: contain;
  height: 0;
  margin-top: 5%; }
  .servicesWidth .iconServices {
    margin: 5% 0 5% 0;
    background-image: url("../images/icon-base.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain; }
  .servicesWidth img {
    display: block;
    margin: auto;
    width: 13%; }
  .servicesWidth .textServices {
    text-align: center;
    font-size: 2rem;
    color: white; }

.slider-container {
  margin: auto;
  background-color: #eeeeee;
  background-size: contain;
  width: 100%;
  margin-top: -14%; }

.slider-grid {
  margin-top: 4%; }
  .slider-grid .slider-info {
    text-align: center; }
    .slider-grid .slider-info .biggerInfo {
      font-size: 5rem; }
    .slider-grid .slider-info .greyInfo {
      color: #777777; }
  .slider-grid .slider-picture .roundSlider {
    margin-top: 10%;
    margin-left: 40%;
    background-image: url("../images/ourteam/pictureProfil_03.gif");
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 21%;
    height: 0; }
  .slider-grid .slider-quote {
    margin-top: 5%;
    text-align: center;
    color: #4b4b4b; }
    .slider-grid .slider-quote #quote {
      font-size: 3rem; }
    .slider-grid .slider-quote #quoteAuthor {
      margin-top: 1%;
      font-size: 1.5rem;
      color: #777777; }
  .slider-grid .slider-change {
    margin-top: 1%;
    text-align: center;
    padding-bottom: 10%; }
    .slider-grid .slider-change .slider-button {
      margin-left: 1%;
      border: 1px solid #797979;
      border-radius: 50% 50%;
      width: 11px;
      height: 11px;
      display: inline-block; }
    .slider-grid .slider-change a:hover div {
      background-color: #797979;
      background-repeat: no-repeat; }

.portfolio-main .portfolio-grid .headPortfolio {
  margin-top: -5%;
  text-align: center;
  background: white;
  background-size: contain;
  padding-top: 3%;
  padding-bottom: 10%; }
  .portfolio-main .portfolio-grid .headPortfolio p {
    font-size: 3rem; }
.portfolio-main .portfolio-grid .portfolio-menu ul {
  list-style: none;
  text-align: center; }
  .portfolio-main .portfolio-grid .portfolio-menu ul li {
    display: inline-block;
    border: 1px solid #000000;
    font-size: 1rem;
    width: 66px;
    padding: 1%;
    margin-left: 2%; }
  .portfolio-main .portfolio-grid .portfolio-menu ul li:hover {
    border: 1px solid #9f449b;
    background-color: #9f449b;
    color: white; }
.portfolio-main .portfolio-grid .portfolio-picture {
  margin-top: 3%; }
  .portfolio-main .portfolio-grid .portfolio-picture .pictureFolio {
    background-image: url("../images/portfolio/Folio_10.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 87%;
    padding-bottom: 80%;
    height: 0; }
  .portfolio-main .portfolio-grid .portfolio-picture .textPicture {
    text-align: center; }
    .portfolio-main .portfolio-grid .portfolio-picture .textPicture .bigInfoPicture {
      margin-top: 2%;
      font-size: 1.5rem; }
    .portfolio-main .portfolio-grid .portfolio-picture .textPicture .smallInfoPicture {
      margin-top: 2%;
      font-size: 1rem; }
.portfolio-main .portfolio-grid .buttonMore {
  margin-top: 5%; }
  .portfolio-main .portfolio-grid .buttonMore p {
    text-align: center;
    font-size: 2rem;
    border: 1px solid #9f449b;
    background-color: #9f449b;
    width: 15%;
    color: white;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.75); }
    .portfolio-main .portfolio-grid .buttonMore p a {
      text-decoration: none;
      color: white; }
  .portfolio-main .portfolio-grid .buttonMore a:hover {
    color: black; }
  .portfolio-main .portfolio-grid .buttonMore p:hover {
    box-shadow: 0 3px 3px 0 rgba(255, 255, 255, 0.75); }

.contact-grid {
  margin-top: 3%; }
  .contact-grid br {
    margin-top: 3%; }
  .contact-grid .media-contact .text-contact {
    margin: 2% 1% 0 1%; }
  .contact-grid .media-contact .adresse-contact {
    margin: 3% 1% 0 1%; }
  .contact-grid .media-contact .mobile-contact {
    margin: 3% 1% 0 1%; }
  .contact-grid .media-contact .e-contact {
    margin: 3% 1% 0 1%; }
    .contact-grid .media-contact .e-contact ul {
      list-style: none; }
      .contact-grid .media-contact .e-contact ul a {
        text-decoration: none;
        color: black; }
        .contact-grid .media-contact .e-contact ul a li {
          padding-top: 1%;
          text-align: center;
          width: 30px;
          height: 30px;
          display: inline-block;
          border-radius: 50% 50%;
          border: 1px solid black; }
        .contact-grid .media-contact .e-contact ul a li:hover {
          background-color: #9f449b;
          border: 1px solid #9f449b; }
      .contact-grid .media-contact .e-contact ul a:hover {
        color: white; }

footer {
  margin-top: 5%; }
  footer .footerLogo {
    text-align: center;
    font-size: 2rem; }

/*# sourceMappingURL=style.css.map */
